{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">

            <form id="form-submitsql" action="/autoreview/" method="post" class="form-horizontal" role="form">
                {% csrf_token %}
                <input type="hidden" id="workflowid" name="workflowid"/>
                <!--邮件抄送人-->
                <input type="hidden" id="email_cc_list" name="email_cc_list"/>
                <div class="col-md-9 column">
                    <pre id="sql_content_editor" style="min-height:400px"></pre>
                </div>
                <div style="display: none" class="col-md-8 column">
                    <textarea id="sql_content" name="sql_content" class="form-control" data-name="SQL内容"
                              placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" rows=20
                              required></textarea>
                </div>

                <div class="col-md-3 column">
                    <div class="form-group">
                        <input id="sql-upload" name="sql-upload" accept=".sql" type="file" class="file-loading">
                    </div>
                    <div class="form-group">
                        <input id="workflow_name" type="text" name="workflow_name" class="form-control"
                               data-name="上线单名称" placeholder="请输入上线单名称，如:XX项目会员功能建表" required>
                    </div>
                    <div class="form-group">
                        <select id="cluster_name" name="cluster_name"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="要上线的集群"
                                data-live-search="true" data-placeholder="请选择要上线的集群:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择要上线的数据库:</option>
                            {% for cluster_name in dictAllClusterDb.items %}
                                <option value="{{ cluster_name.0 }}" is_product_mark="{{cluster_name.1}}" >{{ cluster_name.0 }}
                                </option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <select id="db_name" name="db_name" class="form-control selectpicker show-tick bs-select-hidden"
                                data-live-search="true" data-placeholder="请选择数据库:" >
                            <option value="is-empty" disabled="" selected="selected">查看数据库:</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="is_backup" name="is_backup"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="是否选择备份"
                                data-placeholder="请选择是否要备份:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择是否要备份:</option>
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="email_cc_multiple" name="cc_name" data-live-search="true" multiple="multiple" data-actions-box="true"
                                class="form-control selectpicker show-tick bs-select-hidden ">
                            <option value="is-empty" disabled="" selected="selected">请选择抄送人:</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="is_data_modified" name="is_data_modified" onchange="checkProductMark(this.value)"
                                class="selectpicker show-tick form-control bs-select-hidden" data-name="是否数据订正"
                                data-placeholder="请选择是否是数据订正:" required>
                            <option value="is-empty" disabled="" selected="selected">请选择是否是数据订正:</option>
                            <option value=1>是</option>
                            <option value=0>否</option>
                        </select>
                    </div>

                    
                        <div class="form-group hidden" id='yes-div'>
                            <select id="review_man_auditor" name="review_man_auditor"
                                    class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人(组长)"
                                    data-live-search="true" data-placeholder="请选择RD审核人: " >
                                <option value="is-empty" disabled="" selected="selected">请选择审核人(组长):</option>
                                {% for team_man in reviewMen_auditor %}
                                    <option value="{{ team_man }}">{{ team_man }}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group hidden" id='no-div'>
                            <select id="review_man_DBA" name="review_man_DBA"
                                    class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人(DBA)"
                                    data-live-search="true" data-placeholder="请选择RD审核人:" >
                                <option value="is-empty" disabled="" selected="selected">请选择审核人(DBA):</option>
                                {% for man in reviewMen_DBA %}
                                    <option value="{{ man }}">{{ man }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    <div class="form-group">
                        <input id="btn-format" type="button" class="btn btn-info" value="美化"/>
                        <input type="button" id="btn-autoreview" class="btn btn-danger" value="SQL检测"/>
                        {#                        <button type="reset" id="btn-reset" class="btn btn-warning">清空选项</button>#}
                        <input id="btn-submitsql" type="button" class="btn btn-success" value="SQL提交"/>
                    </div>
                </div>
            </form>
        </div>
<div class="alert alert-danger">提示：在执行时，不能将 DML 语句及 DDL 语句放在一起执行，否则会因为备份解析binlog时由于表结构的变化出现不可预知的错误，如果要有同时执行 DML 及 DDL，则请分开多个语句块儿来执行，如果真的这样做了，Inception 会报错，不会去执行。</div>
        <!-- 审核结果 -->
        <table id="inception-result" data-toggle="table" class="table table-striped table-hover"
               style="display: none"></table>
        <!-- 审核信息确认 -->
        <div class="modal fade" id="submitComfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title text-danger">提交信息确认</h4>
                    </div>
                    <div class="modal-body">
                        <p>提交的SQL经检测仍存在<font color="red" size="5"><b id="CheckWarningCount"></b></font>个警告信息和<font
                                color="red" size="5"><b id="CheckErrorCount"></b></font>个错误信息<br>
                            请按照平台规范仔细检查！<br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    {% load staticfiles %}
    <link href="{% static 'fileinput/css/fileinput.min.css' %}" rel="stylesheet">
    <script src="{% static 'ace/ace.js' %}"></script>
    <script src="{% static 'ace/ext-language_tools.js' %}"></script>
    <script src="{% static 'ace/mode-sql.js' %}"></script>
    <script src="{% static 'ace/theme-github.js' %}"></script>
    <script src="{% static 'ace/snippets/sql.js' %}"></script>
    <script src="{% static 'ace/ace_init.js' %}"></script>
    <script src="{% static 'fileinput/js/fileinput.min.js' %}"></script>
    <script src="{% static 'fileinput/js/locales/zh.js' %}"></script>
    <script src="{% static 'user/js/autoreview.js' %}"></script>
    <script src="{% static 'dist/js/sql-formatter.min.js' %}"></script>

    <!--upload -->
    <script>

        // 在测试、beta环境，对于非数据订正，如果没有选择审核人，报错。
        function submitSQLdata() {
            var check_data_modified = $("#is_data_modified").val()
            var check_review_man_DBA = $("#review_man_DBA").val()
            if(check_data_modified == 0 && check_review_man_DBA == null)
            {
            alert("请选择审核人！")
            return;
            }
        }

        $("#email_cc_multiple").selectpicker({
            noneSelectedText : '请选择抄送人：',
            actionsBox: true, //在下拉选项添加选中所有和取消选中的按钮
            countSelectedText: "已选中{0}项",
            selectedTextFormat: "count > 5"
        });

        // 根据是否是数据订正，选择不同的审核人
        $('#is_data_modified').change(function(){
			var val = $('#is_data_modified').val();

			if(val==1){
				$('#yes-div').removeClass("hidden");
				$('#no-div').addClass("hidden");
			}else{
				$('#no-div').removeClass("hidden");
				$('#yes-div').addClass("hidden");
			}

            // 获取抄送人列表
            var email_cc_multiple = $("#email_cc_multiple").val();
                if (email_cc_multiple != null){
                    if (email_cc_multiple.length > 1) {
                        var db_list = email_cc_multiple.join(",");
                    }
                    else {
                        var db_list = email_cc_multiple.toString()
                    }
                }
                $("#email_cc_list").val(db_list);
		});


        // 对于测试环境的数据订正请求，取消审核人
        function checkProductMark(val){
                        var val_data_modified = $('#is_data_modified').val();
                        val_product_mark = $("option[value='"+$('#cluster_name').val()+"']","#cluster_name").attr("is_product_mark");

                        // alert("data_modified值已更改。新值是：" + val_data_modified + "\n" + "product_mark已更改。新值是：" + val_product_mark);
                        if(val_data_modified==1 && val_product_mark==0){
                                $('#yes-div').addClass("hidden");
                                $('#no-div').addClass("hidden");
                        }
                };

        //初始化上传控件
        function init_upload() {
            $("#sql-upload").fileinput({
                language: 'zh',
                allowedFileExtensions: ['sql'],//接收的文件后缀
                showCaption: true,//是否显示标题
                initialCaption: '仅支持后缀名为sql的文件',
                showUpload: false,     //不显示上传按钮
                showPreview: false    // 不显示预览,
            }).on('fileloaded', function () {
                loadsql();
            })
                .on('fileclear', function (event) {
                    editor.setValue("");
                });
        }

        //读取文件并展示在输入域
        function loadsql() {
            //获取文件
            var file = $("#sql-upload")[0].files[0];

            //创建读取文件的对象
            var reader = new FileReader();

            //创建文件读取相关的变量
            var sqlFile;

            //为文件读取成功设置事件
            reader.onload = function (e) {
                var sqlFile = e.target.result;
                var value = editor.getValue() + sqlFile;
                editor.setValue(value);
                editor.clearSelection();

            };

            //正式读取文件
            reader.readAsText(file);
        }
    </script>
    <!--ace -->
    <script>
        // 集群变更获取数据库补全提示
        $("#cluster_name").change(function () {
            sessionStorage.setItem('sql_query_cluster_name', $("#cluster_name").val());
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "post",
                url: "/getdbNameList/",
                dataType: "json",
                data: {
                    cluster_name: $("#cluster_name").val(),
                    is_master: true
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        var dbs = [];
                        $("#db_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#db_name").append(name);
                            dbs.push({
                                name: result[i],
                                value: result[i],
                                caption: result[i],
                                meta: 'databases',
                                score: '100'
                            })
                        }
                        $("#db_name").prepend("<option value=\"is-empty\" disabled=\"\" selected=\"selected\">查看数据库:</option>");
                        $('#db_name').selectpicker('render');
                        $('#db_name').selectpicker('refresh');
                        //自动补全提示
                        setCompleteData(dbs)
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

            $.ajax({
                type: "post",
                url: "/getEmailCc/",
                dataType: "json",
                data: {
                    cluster_name: $("#cluster_name").val()
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {


                        var result = data.data;
                        $("#cc_name").empty();
                        $("#email_cc_multiple").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option value=\"" + result[i] + "\">" + result[i] + "</option>";
                            $("#cc_name").append(name);
                            $("#email_cc_multiple").append(name);
                        }
                        $('#cc_name').append("<option value=\"is-empty\" disabled=\"\" selected=\"selected\">请选择抄送人:</option>\n");
                        $('#cc_name').selectpicker('render');
                        $('#cc_name').selectpicker('refresh');
                        $('#email_cc_multiple').selectpicker('render');
                        $('#email_cc_multiple').selectpicker('refresh');
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

        //数据库变更获取表名称
        $("#db_name").change(function () {
            //将数据通过ajax提交给获取db_name
            $.ajax({
                type: "post",
                url: "/getTableNameList/",
                dataType: "json",
                data: {
                    cluster_name: $("#cluster_name").val(),
                    db_name: $("#db_name").val(),
                    is_master: true
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        var result = data.data;
                        $("#table_name").empty();
                        for (var i = 0; i < result.length; i++) {
                            var name = "<option>" + result[i] + "</option>";
                            $("#table_name").append(name);
                        }
                        $("#table_name").prepend("<option value=\"is-empty\" disabled=\"\" selected=\"selected\">查看表结构:</option>");
                        $('#table_name').selectpicker('render');
                        $('#table_name').selectpicker('refresh');
                        //自动补全提示
                        setTablesCompleteData(result)
                    } else {
                        alert("status: " + data.status + "\nmsg: " + data.msg + data.data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });

    </script>
    <!--validate -->
    <script>
        function validateForm(element) {
            var result = true;
            element.find('[required]').each(
                function () {
                    var fieldElement = $(this);
                    //如果为null则设置为''
                    var value = fieldElement.val() || '';
                    if (value) {
                        value = value.trim();
                    }
                    if (!value || value === fieldElement.attr('data-placeholder')) {
                        alert((fieldElement.attr('data-name') || this.name) + "不能为空！");
                        result = false;
                        return result;
                    }
                }
            );
            return result;
        }

        //格式化sql
        $("#btn-format").click(function () {
                var select_sqlContent = editor.session.getTextRange(editor.getSelectionRange());
                if (select_sqlContent) {
                    var sqlContent = select_sqlContent
                }
                else {
                    var sqlContent = editor.getValue();

                }
                var sqlContent = window.sqlFormatter.format(sqlContent);
                editor.setValue(sqlContent);
                editor.clearSelection();
            }
        );

        $("#btn-submitsql").click(function () {
            //获取form对象，判断输入，通过则提交
            var formSubmit = $("#form-submitsql");
            var sqlContent = editor.getValue();
            $("#sql_content").val(sqlContent);
            if (validateForm(formSubmit)) {
                //判断是否需要弹出提示
                var CheckWarningCount = sessionStorage.getItem('CheckWarningCount');
                var CheckErrorCount = sessionStorage.getItem('CheckErrorCount');
                $("#CheckWarningCount").text(CheckWarningCount);
                $("#CheckErrorCount").text(CheckErrorCount);

            // 如果没有选择审核人，报错。
            var check_data_modified = $("#is_data_modified").val();
            var check_review_man_DBA = $("#review_man_DBA").val();
            var check_review_man_auditor = $("#review_man_auditor").val();
            var val_product_mark = $("option[value='"+$('#cluster_name').val()+"']","#cluster_name").attr("is_product_mark");
            if(check_review_man_auditor == null && check_review_man_DBA == null)
            {
            alert("请选择审核人！")
            return;
            }

                if (CheckWarningCount > 0 || CheckErrorCount > 0) {
                    $('#submitComfirm').modal('show');
                }
                else {
                    formSubmit.submit();
                    $('input[type=button]').addClass('disabled');
                    $('input[type=button]').prop('disabled', true);
                }
            }

        });

        $("#submitsqlcomfirm").click(function () {
            //获取form对象，判断输入，通过则提交
            var formSubmit = $("#form-submitsql");
            var sqlContent = editor.getValue();
            $("#sql_content").val(sqlContent);
            formSubmit.submit();
            $('input[type=button]').addClass('disabled');
            $('input[type=button]').prop('disabled', true);
        });

        $("#btn-reset").click(function () {
            editor.setValue("");
            //重置选择器
            $(".selectpicker").selectpicker('val', '');
            $(".selectpicker").selectpicker('render');
            $(".selectpicker").selectpicker('refresh');
        });

        $("#review_man").change(function review_man() {
            var review_man = $(this).val();
            $("div#" + review_man).hide();
        });


    </script>
    <!--init -->
    <script>
        $(document).ready(function () {

            // 初始化上传控件
            init_upload();
            // 提示信息
            //editor.setValue("请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;");
            //editor.clearSelection();
            // 禁用提交按钮，点击检测后才激活
            $("#btn-submitsql").addClass('disabled');
            $("#btn-submitsql").prop('disabled', true);

            var pathname = window.location.pathname;
            if (pathname == "/editsql/") {
                $("#workflowid").val(sessionStorage.getItem('editWorkflowDetailId'));
                $("#workflow_name").val(sessionStorage.getItem('editWorkflowNname'));
                editor.setValue(sessionStorage.getItem('editSqlContent'));
                editor.clearSelection();
                $("#cluster_name").val(sessionStorage.getItem('editClustername'));
                $("#is_backup").val(sessionStorage.getItem('editIsbackup'));
                $("#review_man").val(sessionStorage.getItem('editReviewman'));
                var sub_review_name = sessionStorage.getItem('editSubReviewman');
                $("input[name='sub_review_man'][value=\'" + sub_review_name + "\']").attr("checked", true);
            }
            else if (pathname === "/submitothercluster/") {
                $("#workflow_name").val(sessionStorage.getItem('editWorkflowNname'));
                editor.setValue(sessionStorage.getItem('editSqlContent'));
                editor.clearSelection();
                $("#is_backup").val(sessionStorage.getItem('editIsbackup'));
                $("#review_man").val(sessionStorage.getItem('editReviewman'));
                var sub_review_name = sessionStorage.getItem('editSubReviewman');
                $("input[name='sub_review_man'][value=\'" + sub_review_name + "\']").attr("checked", true);
            }
        });
    </script>
{% endblock %}
